
@model login.ModelView.cuentas_viewmodel
<div>
    @using (Html.BeginForm("login", "home"))
    {<p>@ViewBag.Error </p>
        <p>
            @Html.LabelFor(model => model.cuentas.correo_electronico_persona)

            @Html.TextBoxFor(model => model.cuentas.correo_electronico_persona)
        </p>
        <p>
            @Html.LabelFor(model => model.cuentas.clave_persona  )

            @Html.PasswordFor(model => model.cuentas.clave_persona)
        </p>
        <p> <input type="submit" value="ingresar" /></p>
    }
</div>